body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}


.nav-wrapper {
    text-transform: uppercase;
    background: $blackColor;
    font-size: .8rem;
    line-height: 3rem;
    font-weight: bold;


    .logo {

        .logo {
            color: $whiteColor;
            cursor: pointer;

            span {
                color: $greenColor;
            }
        }
    }
}

.nav-wrapper {

    nav {

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        a {
            color: $whiteColor;
            position: relative;
            transition: all .2s;
            z-index: 2;

            &:hover {
                color: $greenColor;
            }
        }
    }

    .deploy-container {
        position: relative;

        &::after {
            content: "";
            visibility: hidden;
            position: absolute;
            height: 100px;
            width: 50px;
            left: -22%;
        }

        .deploy-menu {
            visibility: hidden;
            position: absolute;
            right: 121%;
            top: 8%;
            background-color: $whiteColor;
            padding: 10px;
            line-height: 35px;

            ul {
                display: flex;
                flex-direction: column;

                a {
                    margin-right: 0;
                    color: $blackColor;
                    transition: all .2s;

                    &:hover {
                        color: $greenColor;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 10px solid $whiteColor;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                z-index: 1;
                top: 8%;
                right: -9%;
            }
        }

        &:hover {
            .deploy-menu {
                visibility: visible;
            }

            &::after {
                visibility: visible;
            }
        }
    }
}

.main-slider {

    .row {
        position: relative;
        padding-top: 3rem;
        background: #f9f9fa; /* Old browsers */
        background: -moz-linear-gradient(top, #f9f9fa 66%, #d0cfd7 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f9f9fa 66%,#d0cfd7 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f9f9fa 66%,#d0cfd7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9fa', endColorstr='#d0cfd7',GradientType=0 ); /* IE6-9 */
            }

    .chair-img {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            align-self: center;
        }
    }

    .col-sm-6 {
        display: flex;
    }

    .slider-desc {
    display: flex;
    width: 100%;
    justify-content: center;

        .slider {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    .slider-arrows {
        width: 100%;
        position: absolute;
        top: 42%;

        .left-arrow {
            left: 0;
            @include slide-arrow;
        }

        .right-arrow {
            right: 0;
            @include slide-arrow;
        }
    }
}

.main-slider {

    h1 {
        text-transform: uppercase;
        margin-bottom: 1.5rem;

        span {
            color: $greenColor;
        }

    }

    p {
        margin-bottom: 1.5rem;
        text-align: center;
        max-width: 400px;
    }

    a {
        @include a-button;
        margin-bottom: 1.5rem;
        padding: 8px;
        height: 35px;
        width: 150px;
    }
}

.main-articles {
    margin-top: 2rem;

    .article-wrapper {
        display: flex;
        position: relative;
        margin: 0 auto 1em;
        min-height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &::after {
            content: "";
            height: 100%;
            width: 100%;
            display: block;
            background-color: $whiteColor;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: all .3s;
        }

        &.box1 {
            background-image: url(../images/box1_img.jpg);
        }
        &.box2 {
            background-image: url(../images/box2_img.jpg);
        }
        &.box3 {
            background-image: url(../images/box3_img.jpg);
        }

        .h3-wrapper {
            position: absolute;
            background-color: rgba(255,255,255,0.4);
            width: 100%;
            height: 54px;
            padding: 1rem;
            top: 65%;
            z-index: 1;
            transition: all .3s .3s;

            h3 {
                font-size: .9rem;
                color: $blackColor;
                display: flex;
                flex-direction: column;

                &::after {
                    content: "";
                    height: 5px;
                    width: 120px;
                    background-color: $greenColor;
                    border-radius: 3px;
                }
            }
        }

        .article-text {
            opacity: 0;
            padding: .5rem 1rem;
            align-self: flex-end;
            z-index: 1;
            transition: all .3s 0s;

        }

        &:hover {
            &::after {
                opacity: 1;
                border: 1px solid $greenColor;
            }

            .h3-wrapper {
                background-color: transparent;
                top: 0;
                transition-delay: 0s;
            }

            .article-text {
                opacity: 1;
                transition-delay: .3s;
                padding-top: 54px;
            }
        }
    }
}


.main-prices {
    margin-top: 3rem;
    background-color: #F1F1F1;
    padding-top: 2rem;

    h3 {
        @include h3-title;
    }
}


//Offer options
.main-prices {
    padding: 1rem;

    .price-plan {
        max-width: 300px;
        height: 90%;
        border: 1px solid #D6D5D5;
        position: relative;
        background-color: #F9F9F9;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 3rem;
        transition: all .2s;

        span {
            color: $greenColor;
            position: relative;
            top: -20px;
            text-transform: uppercase;
        }
    }
}

.out-circle-lrg {
    top: -34px;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $whiteColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C2C2C2;
    transition: all .2s;

    .out-circle-sml {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #C2C2C2;
        border-radius: 50%;
        transition: all .2s;
    }
}

.in-circle {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
    transition: all .2s;

    span {
        position: absolute;

        &:nth-of-type(1) {
            color: #C2C2C2;
            font-weight: 900;
            font-size: 2rem;
            top: 5px;
            margin-right: 5px;
        }
        &:nth-of-type(2) {
            color: #C2C2C2;
            font-weight: bold;
            font-size: .8rem;
            top: -30px;
            right: -28px;
        }
        &:nth-of-type(3) {
            color: #C2C2C2;
            font-weight: bold;
            font-size: .8rem;
            top: -10px;
        }
    }
}

.price-plan {

    a {
        @include a-button;
        padding: .5rem 1.5rem;
        margin-bottom: 1rem;
        position: absolute;
        bottom: 0;
    }

    .description {
        margin-bottom: 5rem;
        width: 100%;

        div {
            text-align: center;
            line-height: 1;
            color: #878686;
            padding: .75rem;

            &:nth-of-type(odd) {
                background-color: #E4E4E4;
            }
            &:nth-of-type(even) {
                background-color: #F1F1F1;
            }
        }
    }
}

.price-plan {

    &:hover {
        background-color: $greenColor;
        border: $greenColor;

        .out-circle-lrg {
            background-color: $greenColor;
            border: 1px solid $greenColor
        }
        .out-circle-sml {
            background-color: #F9F9F9;
        }

        .in-circle {
            background-color: $whiteColor;
            border: $greenColor;

            span {
                color: $greenColor;
            }
        }

        .description {
            border: 1px solid $greenColor;

            div:nth-of-type(odd) {
                background-color: #F1F1F1;

            }
            div:nth-of-type(even) {
                background-color: #E4E4E4;

            }
        }

        a {
            @include a-button;
            background-color: $whiteColor;
            color: $greenColor;
            padding: .5rem 1.5rem;
            margin-bottom: 1rem;
            position: absolute;
            bottom: 0;
        }
    }

}

//form

.main-form {
    margin-top: 1rem;
    padding: 1rem;

    h3 {
        @include h3-title;
    }
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;

    input {
        max-width: 600px;
        width: 100%;
        margin-bottom: 1rem;
        line-height: 2rem;
        font-size: 1.25rem;
        border: 1px solid #C2DBD5;
        color: #626262;
        padding-left: .6rem;

        &::placeholder {
        color: #D0D0D0;
        }

        &:focus {
            border: 2px solid #24BA9F;
            outline: none;
            color: #626262;
        }
    }

    textarea {
        max-width: 600px;
        width: 100%;
        height: 200px;
        border: 1px solid #C2DBD5;
        margin-bottom: 1rem;
        line-height: 2rem;
        font-size: 1.25rem;
        resize: none;
        color: #626262;
        padding-left: .6rem;

        &::placeholder {
        color: #D0D0D0;
        }

        &:focus {
            border: 2px solid #24BA9F;
            outline: none;
            color: #626262;
        }
    }
}

.contact-chair-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    img {
        width: 200px;
        margin-bottom: 10px;
    }

    .check {
        display: flex;
        max-width: 300px;
        margin-bottom: 10px;

        input[type="checkbox"]{
            display: none;

            &[type="checkbox"]:checked + label::before {
                background-image: url(../images/form_ok.jpg);
            }
        }

        label {
            color: #b1adad;

        &::before {
            content: "";
            display: inline-block;
            width: 48px;
            height: 40px;
            border: 1px solid #C1DED9;
            float: left;
            margin-right: .4rem;
            }
        }
    }
    input[type="submit"] {
        width: 240px;
        border: none;
        @include a-button;
        line-height: 3rem;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
    }
}

.main-footer {

    .bar-wrapper {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-rights {
            color: #b1adad;
            font-size: .7rem;
            font-weight: bold;
        }
    }

    .footer-social {

        a {
            margin-right: .2rem;
        }

        p {
            text-transform: uppercase;
            font-weight: bold;
            color: #b1adad;
            font-size: .9rem;

            span {
                color: #5b5858;
            }
        }
    }
}

//Media

@media (min-width: 360px) {
    .nav-wrapper{

        .deploy-container {

            .deploy-menu {
                right: 110%;
            }
        }
    }
}

@media (min-width: 500px) {
    .nav-wrapper{

        .deploy-container {
            &::after {
                left: -15%;
            }

            .deploy-menu {
                right: 107%;
            }
        }
    }
}

@media (min-width: 610px) {

    .nav-wrapper {

        nav {

            ul {
                flex-direction: row;
                justify-content: flex-end;
            }

            a {
                margin-right: 2rem;
            }
        }

        .deploy-container {

            &::after {
                height: 20px;
                width: 120px;
                left: -30%;
                z-index: 1;
            }

            .deploy-menu {
                background-color: $blackColor;
                z-index: 1;
                top: 125%;
                right: 0%;
                line-height: 27px;
                padding: 8px;

                ul {

                    a {
                        color: $whiteColor;
                    }
                }

                &::before {
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $blackColor;
                    top: -41%;
                    right: 40%;
                    padding: 20px 0 0 0;
                }
            }
        }
    }

    .main-footer {

        .bar-wrapper {
            flex-direction: row;
            justify-content: space-around;

            .footer-social {
                display: flex;



                p {
                    align-self: center;
                    margin-left: 2rem;
                }
            }
        }
    }
}

@media (min-width: 810px) {

    .main-slider {

        .slider-arrows {

            .left-arrow {
                left: 2rem
            }
            .right-arrow {
                right: 2rem
            }
        }
    }
}
